@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <div class="container d-flex justify-content-center">
        <div class="card shadow mt-5" style="width: 48rem;">
            <div class="card-body">
                <h1 class="card-title mb-2">Key-per-file configuration provider</h1>
                <p><span class="fw-bold">Phone:</span> @Model.Phone</p>
                <p><span class="fw-bold">Email:</span> @Model.Email</p>
            </div>
        </div>

    </div>

</div>