@page
@model ConnectionStringApplication.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="alert alert-primary shadow mt-2" role="alert">

    <h1 class="fs-6 text-center">Connection string example </h1>

    <div class="row">
        <div class="col-1 fw-bold text-end">EF Core</div> Customer count @Model.EntityCount
    </div>

    <div class="row">
        <div class="col-1 fw-bold text-end">Provider</div>
        Customer count @Model.ProviderCount
    </div>

</div>

<div class="container">
    <div class="row">
        Current appsettings.json
    </div>
    <div class="row border border-primary p-2" style="font-size: .75em">
        <pre>@Html.Raw(@Model.SettingFile)</pre>
    </div>
</div>
