@page
@model ConnectionStringApplication.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="alert alert-primary shadow mt-2" role="alert">

    <h1 class="fs-6 text-center">Connection string example </h1>
    
    <div class="row fw-bold">Customer count</div>
    <div class="row">
        <div class="fw-bold text-end" style="width: 5.5em">EF Core</div>
        <div class="col-3">@Model.EntityCount</div>
    </div>

    <div class="row">
        <div class="fw-bold text-end" style="width: 5.5em">Provider</div>
        <div class="col-4">@Model.ProviderCount</div>
    </div>

</div>

<div class="container">
    <div class="row">
        Current appsettings.json
    </div>
    <div class="row border border-primary p-2" style="font-size: .75em">
        <pre>@Html.Raw(@Model.SettingFile)</pre>
    </div>
</div>
