@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="alert alert-danger" role="alert">
    <h1 class="fs-5 text-center">Connection timeout</h1>
</div>

<div class="d-flex align-items-center justify-content-center">


    <form id="main" method="post" class="shadow w-75">

        <div>

            <button id="submitButton" type="submit" class="btn btn-danger w-100 mb-2"  asp-page-handler="TestConnection">
                Execute
                <span id="spin" class="spinner-grow spinner-grow-sm d-none" role="status" aria-hidden="true"></span>
            </button>
            <div class="form-check ms-1">
                <input asp-for="UseBadConnection" type="checkbox" class="form-check-input" />
                <label asp-for="UseBadConnection">Bad connection</label>
            </div>

            <div class="alert alert-danger" role="alert">
                @Html.Raw(Model.Message)
            </div>

        </div>

    </form>

</div>

<script>

    document.getElementById("submitButton").addEventListener("click",
        function () {
            let spinner = document.getElementById('spin');
            spinner.classList.remove('d-none');
        });
</script>

