@page
@model UpdaterApplication.Pages.AboutModel
@{
}

<div class="alert alert-primary" role="alert">
    <h1 class="fs-6">Simple code sample to update several properties in appsettings.json</h1>
</div>