@page
@model VariousMethodsApplication.Pages.ApplicationFeaturesStrongModel
@{
}

@{
    await Html.RenderPartialAsync("TopMessagePartial");
}


<div class="text-primary">Connection string <span class="fw-bold text-black">@Model.ConnectionString</span></div>
<div class="text-primary">Subject: <span class="fw-bold text-black">@Model.Subject</span></div>