@page
@model WebApplication1.Pages.NamedOptionsModel
@{
}

@{
    await Html.RenderPartialAsync("TopMessagePartial");
}

<div class="text-primary">Subject: <span class="fw-bold text-black">@Model.Subject</span></div>