@page
@using SectionExistsApplication.Classes
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="fs-6">Section exists</h1>
    <div class="row">
        <div class="fw-bold text-end" style="width: 12em">Layout section exists</div>
        <div class="col-2">@Model.LayoutSectionExists.ToYesNo() (should be Yes)</div>
    </div>

    <div class="row">
        <div class="fw-bold text-end" style="width: 12em">Azure section exists</div>
        <div class="col-2">@Model.AzureSectionExists.ToYesNo() (should be No)</div>
    </div>

</div>
